<div class="bg-home">
    <div class="ctn-home">
        <div class="ctn-challenge">
            <div class="ctn-ctxt">
                <div class="ctn-image1">
                    <img src="../../../assets/IMG/planification/desafio.png" alt="" />
                </div>
                <div class="title1">
                    <h3>Desafío</h3>
                </div>
            </div>

            <div class="ctn-txtandimages">
                <p>Hacer investigación de usuarios de sistema de transporte</p>
                <div class="ctn-pointsandtime">
                    <div class="points">
                        <div class="ctn-image2">
                            <img src="../../../assets/IMG/planification/diamante.png" />
                        </div>
                        <div class="txt2">
                            <p>5.000 wellys</p>
                        </div>
                    </div>
                    <div class="time">
                        <div class="ctn-image3">

                            <img src="../../../assets/IMG/planification/tiempo.png" alt="" />
                        </div>
                        <div class="txt3">
                            <p>1 semana</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ctn-calendar1">
            <div class="ctn-title">
                <div class="reunion">
                    <img src="../../../assets/IMG/planification/reunion.png" alt="" />
                </div>
                <div class="title">
                    <h4>Planificación de reuniones</h4>
                </div>
            </div>

            <div class="ctn-dates">
                <div class="cuadro1">
                    <div class="dates">
                        <div class="ctn-info-dates">
                            <div class="ctn-status-dates">
                                <div class="circle-reunion"></div>
                            </div>
                            <div class="ctn-text-dates">
                                <p>Reunión Equipo Diseño</p>
                            </div>
                            <div class="ctn-time-dates">
                                <p>30 min.</p>
                            </div>
                        </div>
                    </div>

                    <div class="dates">
                        <div class="ctn-info-dates">
                            <div class="ctn-status-dates">
                                <div class="circle-reunion"></div>
                            </div>
                            <div class="ctn-text-dates">
                                <p>Reunión Equipo Diseño</p>
                            </div>
                            <div class="ctn-time-dates">
                                <p>60 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="dates">
                        <div class="ctn-info-dates">
                            <div class="ctn-status-dates">
                                <div class="circle-reunion-blue"></div>
                            </div>
                            <div class="ctn-text-dates">
                                <p>Reunión Equipo Diseño</p>
                            </div>
                            <div class="ctn-time-dates">
                                <p>30 min.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dates">
                        <div class="ctn-info-dates">
                            <div class="ctn-status-dates">
                                <div class="circle-reunion-blue"></div>
                            </div>
                            <div class="ctn-text-dates">
                                <p>Reunión Equipo Diseño</p>
                            </div>
                            <div class="ctn-time-dates">
                                <p>15 min.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ctn-calen">
                    <mat-form-field appearance="fill" class="datepickerS">
                        <mat-label>Calendario</mat-label>
                        <input matInput [matDatepicker]="picker" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="ctn-planification">
            <div class="meeting">
                <div class="ctn-image5">
                    <img src="../../../assets/IMG/planification/semana.png" alt="" />
                </div>
                <div class="txt5">
                    <h4>Planificación semanal</h4>
                </div>
            </div>

            <div class="ctn-image6">
                <img src="../../../assets/IMG/dropdown.png" alt="" />
            </div>

            <div class="week">
                <div class="week1">
                    <p>Semana del</p>
                    <h4>28 de sept. al 2 de octubre</h4>
                </div>

            </div>

            <div class="days-week">
                <mat-accordion *ngFor="let day of days">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>{{ day }}</h3>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-selection-list labelPosition="before" #shoes>
                            <mat-list-option *ngFor="let shoe of typesOfShoes">
                                {{ shoe }}
                            </mat-list-option>
                        </mat-selection-list>

                        <p>Tareas realizadas: {{ shoes.selectedOptions.selected.length }}</p>

                        <div class="team-bar">
                            <div class="ctn-bar">
                                <div [ngStyle]="{
                    'width.%': shoes.selectedOptions.selected.length * 20
                  }" class="progress"></div>
                            </div>

                            <div class="ctn-bar-num">
                                <h4>{{ shoes.selectedOptions.selected.length * 20 }}%</h4>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
