<div class="bg-home">
    <div class="ctn-home">

        <div class="ctn-challenge">

            <div class="ctn-ctxt">
                <div class="ctn-image1">
                    <img class="img1" src="../../../assets/IMG/planification/desafío.png" alt="">
                </div>
                <div class="title1">
                    <h3>Desafío</h3>
                </div>
            </div>

            <div class="ctn-txtandimages">
                <div class="txt1">
                    <p>Hacer investigación de usuarios de sistema de transporte</p>
                </div>
                <div class="ctn-pointsandtime">
                    <div class="points">
                        <div class="ctn-image2">
                            <img class="img2" src="../../../assets/IMG/planification/diamante.png" alt="">
                        </div>
                        <div class="txt2">
                            <p>5.000 wellis</p>
                        </div>
                    </div>
                    <div class="time">
                        <div class="ctn-image3">
                            <img class="img3" src="../../../assets/IMG/planification/tiempo.png" alt="">
                        </div>
                        <div class="txt3">
                            <p>1 semana</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ctn-count">
                <div class="txt4">
                    <p>Falta</p>
                </div>
                <div class="ctn-image4">
                    <img class="img4" src="../../../assets/IMG/planification/contador.png" alt="">
                </div>
            </div>
        </div>


        <div class="ctn-planification">

            <div class="meeting">
                <div class="ctn-image5">
                    <img class="img5" src="../../../assets/IMG/reunion.png" alt="">
                </div>
                <div class="txt5">
                    <p>Planificación de reuniones</p>
                </div>
                <div class="ctn-image6">
                    <img class="img6" src="../../../assets/IMG/dropdown.png" alt="">
                </div>
            </div>

            <div class="week">
                <div class="ctn-image7">
                    <img class="img7" src="../../../assets//IMG/semana.png" alt="">
                </div>
                <div class="txt7">
                    <p>Planificación semana</p>
                </div>
            </div>

            <div class="progress">
                <div class="weekof">
                    <div class="weekofthe">
                        <p>Semana del</p>
                    </div>
                    <div class="september">
                        <p>28 al 2 de octubre</p>
                    </div>
                </div>

                <div class="wp">
                    <div class="weeklyprogress">
                        <p>Progreso Semanal</p>
                    </div>
                    <div class="bar">

                    </div>
                </div>

                <div class="faceandpercentage">
                    <div class="ctn-image8">
                        <img class="img8" src="../../../assets/IMG/carita.png" alt="">
                    </div>
                    <div class="percentage">
                        <p>70%</p>
                    </div>
                </div>
            </div>
            <div class="monday"></div>
            <div class="tuesday"></div>
            <div class="wednesday"></div>
            <div class="thursday"></div>
            <div class="friday"></div>
        </div>
    </div>
</div>