*{
  font-size: 1rem;
  box-sizing: border-box;
}


.body{
  background-color:#EFF2FF;
}


.navbar {
  background-color:#5A78E6;
  justify-content: center;
  border-radius: 20px;
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 40px;
justify-content: space-between;
flex-wrap: wrap;
margin-right: 20px;
}

.modal-body, .modal-header{
  background-color: #56A6FB;
}
