<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light mt-2">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav container-fluid d-flex justify-content-around">
        <li class="nav-item ">
          <div class="incon">
            <img src="../../../assets/IMG/Menu/Inicio.png" alt="">
            <a class="nav-link text-white font-weight-bold" href="#">Inicio</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="incon">
            <img src="../../../assets/IMG/Menu/Planificacion.png" alt="">
            <a class="nav-link text-white font-weight-bold" href="#">Planificación</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="incon">
            <img src="../../../assets/IMG/Menu/ayuda.png" alt="">
            <!-- Button trigger modal -->
            <a  class="nav-link text-white font-weight-bold" href="#" data-toggle="modal" data-target="#modalAyuda">
              Ayuda
            </a>

            <!-- Modal -->
            <div class="modal fade" id="modalAyuda" tabindex="-1" aria-labelledby="modalAyudaLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" id="modalAyuda-dialog">
                  <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body pb-5 text-center">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Resuelve tus dudas</h5>
                    Busca en la guía de ayuda
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="incon">
            <img src="../../../assets/IMG/Menu/checkout.png" alt="">
            <a class="nav-link text-white font-weight-bold" href="#">Checkout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
