*{
  font-size: 1rem;
  box-sizing: border-box;
}


.body{
  background-color:#EFF2FF;
}


.navbar {
  background-color:#5E55FC;
  justify-content: center;
  margin-left: 280px;
  margin-right: 280px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 25px;
}
