*{
    font-size: 1rem;
    color: #ffffff;
}

h1{
    font-size: 2.25em;
    font-weight: 400;
  }
  
  h2{
    font-size: 1.5em;
  }
  
  h3{
    font-size: 1.56em;
  }
  
  h4{
    font-size: 1.25em;
  }
  
  h5{
    font-style: 700;
  }
  p{
      font-size: 1em;
      font-weight: 400;
      margin: 0 0 0.5em 0;
  }

  
.ctn-perfil{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
}

/* ------------------------------------------------------Logo */

.bg-logo{
    background-color: #EFF2FF;
}

.ctn-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.125em;
    background-color: #ffffff;
    border-radius: 0px 50px 0px 0px;
}

.img-logo{
    justify-content: center;
    display: flex;
}

.img-logo img{
    width: 6rem;
}

/* ------------------------------------------------------Perfil */

.ctn-info{
    background-color: #5A78E6;
}

.ctn-me{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30.75rem;
    background-color: #5A78E6;
    border-radius: 0px 50px 0px 0px;
}

.bg-me{
    background-color: #ffffff;
}

.avatar{
    width: 7.1rem;
    height: 7.1rem;
    background-image: url("../../../assets/IMG/img-perfil/avatar-perfil.png");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9.375rem;
}

.state, .prog, .reward{
    width: 80%;
    margin: 0.5em 0;
}

.ctn-pro{
    background-color: #5A78E6;
    border-radius: 2rem;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.3em;
    height: 2.125rem;
}

.ctn-porcent{
    background-color: #52C9F3;
    width: 75%;
}

.line{
    display: inline;
    margin-right: 0.4em;
}

i.line{
    font-size: 1.5em;
}

/* ------------------------------------------------------Equipo */

.ctn-team{
    height: 14.75rem;
    background-color: #839AEC;
    border-radius: 0px 50px 0px 0px;
}

.bg-team{
    background-color: #5A78E6;
}

/* ------------------------------------------------------Bienestar */

.ctn-well{
    height: 30.75rem;
    background-color: #5A78E6;
    border-radius: 0px 50px 0px 0px;
}

.bg-well{
    background-color: #839AEC;
}