<div class="bg-home">
  <div class="ctn-home">

    <section class="ctn-challenge">
      <div class="ctn-img">
        <img src="../../../assets/IMG/Home/Desafío.png" alt="">
      </div>
      <div class="ctn-text">
        <h1>Desafio semana 21 al 25 septiembre</h1>
        <h3>Hacer investigación de ususarios de sistema de transporte</h3>
      </div>
    </section>

    <section class="ctn-rules">
      <div class="title">
        <h3>Sigue las reglas</h3>
      </div>
      <div class="forS" *ngFor="let rules of infoRules">
        <div class="rules-img">
          <img src={{rules.img}}>
        </div>
        <p> {{rules.text}}</p>
      </div>
    </section>

    <section class="ctn-prize">
      <div class="title">
        <h3>Logra los premios</h3>
      </div>

      <div class="gift">
        <div class="ctn-img-prize1">
          <img src="../../../assets/IMG/Home/Diamante.png" >
        </div>
        <div class="ctn-img-prize2">
          <h3>5.000 wellys</h3>
          <p>Para cada integrante del grupo que termine el jueves, y el día viernes libre</p>
        </div>
    </div>

        <div class="gift">

          <div class="ctn-img-prize1">
            <img src="../../../assets/IMG/Home/Diamante.png" alt="">
          </div>
          <div class="ctn-img-prize2">
            <h4>3.000 wellys</h4>
            <p>Para cada integrante del grupo que termine el jueves, y el día viernes libre</p>
          </div>
        </div>


        <div class="ctn-text-wellys">
          <h4>¡No te quedes sin tus Wellys!</h4>
          <h4  style="font-weight: 400;">entrega dentro del plazo</h4>
        </div>

      </section>

      <section class="ctn-team">

        <div class="title">
          <div class="ctn-team-img">
            <img src="../../../assets/IMG/Home/Team.png">
          </div>
          <h3>Tu equipo</h3>
        </div>

        <div class="teamS" *ngFor="let team of infoTeam">
          <div class="team-img">
            <img src={{team.img}}>
          </div>

          <div class="team-info">
            <h4> {{team.name}}</h4>
            <p> {{team.text}}</p>
          </div>

         <div class="team-bar">
            <div class="ctn-bar">
              <div [ngStyle]="{'width.%':team.progress}" class="progress"></div>
            </div>

            <div class="ctn-bar-num">
              <h4>{{team.progress}}%</h4>
            </div>
         </div>

        </div>

      </section>

      <div class="btn-blue">
        <button>Comenzar el desafío</button>
      </div>
  </div>


</div>



