*{
  font-size: 1rem;
  box-sizing: border-box;
}

.bg-home{
  background-color:#EFF2FF;
  width: 100%;
  height: 1975px;
  display: flex;
  justify-content: flex-end;
}

.ctn-home{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 460px;
}

.ctn-challenge{
  border: 5px solid #EBB908;
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 70%;
  height: 167px;
  margin: 200px 0 30px 0;
  display: flex;
}

.ctn-rules{
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 35%;
  height: 409px;
  margin: 30px 20px 30px 0;
  color:black;
  padding:30px;
}

.ctn-rules h3{
  font-weight: 700;
  font-size: 24px;
}

.ctn-prize h3{
  font-weight: 700;
  font-size: 24px;
}

.ctn-prize{
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 35%;
  height: 409px;
  margin-left: 20px;
  margin: 30px 0px 30px 20px;
  padding:30px;
}

.ctn-team{
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 70%;
  height: 652px;
  margin: 30px 0 30px 0;
  padding:30px;
}

button{
  background: #56A6FB;
  border-radius: 25px;
  width: 402px;
  height: 52px;
  border: none;
  text-decoration: none;
  color:#FFFFFF;
}

button:focus{
  outline:none;
}


h1{
  font-size: 36px;
  font-weight:700;
}

h2{
  font-size: 36px;
  font-weight:400;
}

h3{
  font-size: 24px;
  font-weight:400;
}

h4{
  font-size: 20px;
  font-weight:700;
}

img{
  width: 90px;
}

.ctn-img{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn-text{
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
}

.forS{
  display: flex;
}

.teamS{
  display: flex;
}

.ctn-text1{
  display: flex;
}

.ctn-text-wellys{
  background: #EEEEEE;
  border-radius: 30px;
  width: 350px;
  height: 88px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 10px;
}

.gift{
  display: flex;
}

.ctn-img-prize1{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ctn-img-prize2{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.ctn-img-prize1 img{
  width: 50px;
}

.title{
  margin-bottom:30px ;
}
