*{
  font-size: 1rem;
  box-sizing: border-box;
}

.bg-home{
  background-color:#EFF2FF;
  width: 100%;
  height: 1975px;
  display: flex;
  justify-content: flex-end;
}

.ctn-home{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 460px;
}

.ctn-challenge{
  border: 5px solid #EBB908;
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 70%;
  height: 167px;
  margin: 200px 0 30px 0;
  display: flex;
}

.ctn-rules{
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 35%;
  height: auto;
  margin: 30px 20px 30px 0;
  padding:30px 30px 0 30px;
}

.ctn-rules h3{
  font-weight: 700;
}

.ctn-prize h3{
  font-weight: 700;
}

.ctn-team h3{
  font-weight: 700;
}

.ctn-prize{
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 35%;
  height: auto;
  margin-left: 20px;
  margin: 30px 0px 30px 20px;
  padding:30px 30px 0 30px;
}

.ctn-team{
  background:rgb(255, 255, 255);
  border-radius: 30px;
  width: 70%;
  height: auto;
  margin: 30px 0 30px 0;
  padding:30px;
}

.ctn-team-img{
  width: 10%;
}

.ctn-team-img img{
  width: 55px;
}

button{
  background: #56A6FB;
  border-radius: 25px;
  width: 402px;
  height: 52px;
  border: none;
  text-decoration: none;
  color:#FFFFFF;
  font-weight: 700;
}

button:focus{
  outline:none;
}


h1{
  font-size: 24px;
  font-weight:700;
}

h2{
  font-size: 36px;
  font-weight:400;
}

h3{
  font-size: 20px;
  font-weight:400;
}

h4{
  font-size: 20px;
  font-weight:700;
}

.ctn-img{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn-img img{
  width: 90px;
}

.ctn-text{
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
}

.forS{
  display: flex;
  margin: 40px 0;
}

.forS p{
  width: 80%;
}

.rules-img{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.rules-img img{
  width: 30px;
}

.teamS{
  display: flex;
  width: 100%;
}

.ctn-text1{
  display: flex;
}

.ctn-text-wellys{
  background: #EEEEEE;
  border-radius: 30px;
  width: 100%;
  height: 95px;
  text-align: center;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top:30px;
}

.gift{
  display: flex;
}

.ctn-img-prize1{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ctn-img-prize2{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.ctn-img-prize1 img{
  width: 45px;
}

.title{
  margin-bottom:30px ;
  display: flex;
}

/* .title img{
  Width:70px;
  Height:46px;
  margin-right: 10px;
} */

.teamS{
  margin:10px;
}

.team-img{
  width: 15%;
  text-align: center;
}

.team-img img{
  width: 70px;
}

.team-info{
  width: 40%;
}

.team-bar{
  width: 44%;
  display: flex;
}

.team-bar h4{
  color:#2045D0;
}

.ctn-bar{
  height: 30px;
  width: 85%;
  border: 4px solid #5A78E6;
  box-sizing: border-box;
  border-radius: 32px;
}

.ctn-bar-num{
  width: 15%;
  text-align: center;
}

.progress{
  height: 22px;
  background: #52C9F3;
  border-radius:32px 0 0 32px;
}

.ctn-btn{
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn1{
  width: 200px;
  margin:15px;
  background: #56A6FB;
  border-radius: 25px;
}

.btn2{
  width: 200px;
  margin:15px;
  background: #D5E9FE;
  border: 1px solid #067BF7;
  box-sizing: border-box;
  border-radius: 25px;
  color: #067BF7;
}
