<div class="bg-home">
  <div class="ctn-home">
    <div class="ctn-challenge">
      <div class="ctn-img"></div>
      <div class="ctn-text">
        <h1>Desafio semana 21 al 25 septiembre</h1>
        <h2>Hacer investigación de ususarios de sistema de transporte</h2>
      </div>
    </div>
      <div class="ctn-rules">
        <h2>Sigue las reglas</h2>
        <p>Realizar la tarea dentro del horario de trabajo</p>
        <p>Responder las estrategias que usaste en el chech out</p>
        <p>Mantener una conducta de autocuidado</p>
        <p>Para ganar el premio, deben completar el desafío dentro del tiempo.
          Sino, igualmente deben completar la tarea, pero no habrá premio.</p>
      </div>
      <div class="ctn-prize">
        <h2>Logra los premios</h2>
        <h3>5.000 wellys</h3>
        <p>Para cada integrante del grupo
          que termine el jueves, y el día viernes libre</p>

        <h4>3.000 wellys</h4>
        <p>Para cada integrante del grupo
          que termine el jueves, y el día viernes libre</p>
      </div>
      <div class="ctn-team">
        <h2>Tu equipo</h2>

        <h5>Super Reasercher</h5>
        <p>Líder</p>

        <h5>Tú</h5>
        <p>Tarea: Encuestar a usuario de avión</p>

        <h5>Almendra poderosa</h5>
        <p>Tarea: Encuestar a usuario de metro</p>

        <h5>Power Reasercher</h5>
        <p>Tarea: Encuestar a usuario de buses</p>

        <h5>Survey Woman</h5>
        <p>Tarea: Encuestar a usuario de bicicletas</p>

        <h5>Pepe el investigador</h5>
        <p>Tarea: Encuestar a usuario de automóvil</p>
      </div>
    <button>Comenzar el desafío</button>
  </div>
</div>

