<div class="bg-home">
  <div class="ctn-home">

    <div class="ctn-challenge">
      <div class="ctn-img">
        <img src="../../../assets/IMG/Home/Desafío.png" alt="">
      </div>
      <div class="ctn-text">
        <h1>Desafio semana 21 al 25 septiembre</h1>
        <h3>Hacer investigación de ususarios de sistema de transporte</h3>
      </div>
    </div>

    <div class="ctn-rules">
      <div class="title">
        <h3>Sigue las reglas</h3>
      </div>
      <div class="forS" *ngFor="let rules of infoRules">
        <ul> {{rules.img}}</ul>
        <p> {{rules.text}}</p>
      </div>
    </div>

    <div class="ctn-prize">
      <div class="title">
        <h3>Logra los premios</h3>
      </div>

      <div class="gift">
        <div class="ctn-img-prize1">
          <img src="../../../assets/IMG/Home/Diamante.png" alt="">
        </div>
        <div class="ctn-img-prize2">
          <h3>5.000 wellys</h3>
          <p>Para cada integrante del grupo que termine el jueves, y el día viernes libre</p>
        </div>
    </div>

        <div class="gift">

          <div class="ctn-img-prize1">
            <img src="../../../assets/IMG/Home/Diamante.png" alt="">
          </div>
          <div class="ctn-img-prize2">
            <h4>3.000 wellys</h4>
            <p>Para cada integrante del grupo que termine el jueves, y el día viernes libre</p>
          </div>
        </div>


        <div class="ctn-text-wellys">
          <h4 style="font-weight: 700;">¡No te quedes sin tus Wellys!</h4>
          <h4>entrega dentro del plazo</h4>
        </div>

      </div>

      <div class="ctn-team">
        <div class="title">
          <h2>Tu equipo</h2>
        </div>

        <div class="teamS" *ngFor="let team of infoTeam">
          <h4> {{team.img}}</h4>
          <div >
            <h4> {{team.name}}</h4>
            <p> {{team.text}}</p>
          </div>
        </div>

      </div>
    <button>Comenzar el desafío</button>
  </div>
</div>



