<div class="ctn-total-profile">

  <div class="ctn-perfil">

    <div class="ctn-logo">
      <a class="img-logo" href=""><img src="../../../assets/IMG/Perfil/Logo.png" alt=""></a>
    </div>

    <div class="ctn-info">
      <div class="bg-me">
        <div class="ctn-me">
          <div class="avatar rounded-circle">
          </div>
          <div class="edit">
            <h2>Top Reaserch</h2>
            <i class="fas fa-pencil-alt"></i>
          </div>
          <p>@javiera.miranda</p>
          <div class="state">
            <p style="font-weight: 900;">Mi estado</p>
            <div class="icons">
              <div class="ctn-icon"><img src="../../../assets/IMG/Perfil/conectado.svg" width="70%"></div>
              <div class="ctn-icon"><img src="../../../assets/IMG/Perfil/break.svg" width="50%"></div>
              <div class="ctn-icon"><img src="../../../assets/IMG/Perfil/lunch.svg" width="50%"></div>
              <div class="ctn-icon-selected"><img src="../../../assets/IMG/Perfil/reunion.svg" width="60%"></div>
              <div class="ctn-icon"><img src="../../../assets/IMG/Perfil/desconectado.svg" width="60%"></div>
            </div>
          </div>

          <div class="reward">
            <p style="font-weight: 900;"></p>
          </div>
        </div>
      </div>

      <div class="bg-team">
        <div class="ctn-team">
          <div class="ctn-info-team fle">
            <h3>Mis equipos</h3>
            <div class="d-flex justify-content-around">
              <div class="ctn-rec inline">
                <img src="../../../assets/IMG/Lider/Group.png" style="width: 30px;" alt="">
                <p>Reaserch</p>
              </div>
              <div class="ctn-rec">
                <img src="../../../assets/IMG/Lider/Group.png" style="width: 30px;" alt="">
                <p>Reaserch</p>
              </div>
              <div class="ctn-rec">
                <img src="../../../assets/IMG/Lider/Group.png" style="width: 30px;" alt="">
                <p>Reaserch</p>
              </div>
            </div>


            <div class="ctn-icon-chat">
              <img src="../../../assets/IMG/Lider/chat.png" style="width: 80px;" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-well">
      <div class="ctn-well">
        <div class="ctn-recordatorios">
          <div class="ctn-rec">
            <p>Reportes</p>
            <img src="../../../assets/IMG/Lider/reportes.png" style="width: 60px;" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
