* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}
<<<<<<< HEAD
=======


>>>>>>> 36e89926955e0b56f0e609198765713ec5486561
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
