* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
<<<<<<< HEAD
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
}
>>>>>>> 4711c4b52d402eb22de2c9a3ecde945510604988
